@import 'mixins';

$themeColor: #2980b9;

* {
	@include box-sizing(border-box);
}

body {
	font-family: Redressed;
	font-size: 18px;
	// use gradient from uigradients.com
	background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
	
}

h1 {
	color: white;
	background: $themeColor;
	margin: 0;
	padding: 10px 20px;
	font-size: 130%;
	text-transform: uppercase;
	font-weight: normal;
	@include bp-phone {
		font-size: 90%; 
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	color: #666;
	background: white;
	&:nth-child(2n) {
		background: #f7f7f7;
	}
	@include bp-phone {
		font-size: 20px;
	}
}

input[type="text"] {
	width: 100%;
	font-size: 18px;
	background: #f7f7f7;
	padding: 13px 13px 13px 20px;
	color: $themeColor;
	border: 3px solid rgba(0,0,0,0);
	font-family: Redressed;
	&:focus {
		background: white;
		border: 3px solid $themeColor;
		outline: none;
	}
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0px;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	width: 40px;
	opacity: 1;
}


#container {
	width: 400px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	@include bp-phone {
		width: 95%;
		margin: 50px auto;
	}
}

.done {
	text-decoration: line-through;
	color: grey;
}

.fa-plus {
	float: right;
	padding-top: 3px;
}

