$themeColor : lightseagreen;
$themeFont: 'Secular One', serif;

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: $themeFont;
	font-weight: lighter;
	font-size: 16px;
	line-height: 1.5em;
	color: black;
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 250%;
	line-height: 1.5em;
}

.inner-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.score-board {

	background-color: $themeColor;
	vertical-align: middle;

	h1 {
		margin: 0;
		line-height: 250px;
		font-size: 500%;
		color: invert($themeColor);
	}

}


.winner {
	color: complement($themeColor);
}

.button {
	font-family: $themeFont;
	width: 100px;
	height: 50px;
	color: $themeColor;
	background-color: lighten($themeColor, 10%);
	border: 1px solid $themeColor;
	font-size: 90%;
	&:hover, &:active {
		background-color: darken($themeColor, 20%);
		cursor: pointer;
	}
}

#winningScore {
	color: $themeColor;
	width: 100px;
	height: 50px;
	line-height: 50px;
	border: 1px solid $themeColor;
	text-align: center;
	font-size: 90%;
}

#reset {
	background-color: darken(complement($themeColor), 10%);
	border: 1px solid complement($themeColor);
	&:hover,
	&:active {
		background-color: darken(complement($themeColor), 20%);
	}
}




